.content{
    display: flex-grid;
    align-items: center;
}

.postContentForm{
    overflow: scroll;
    height: 300px;
    background: #3949ab;
    border: black;
}

.nameAndTime{
    text-align: center;
    color: #ffffff;
}

.detail{
    color: #ffffff;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}
