.content {
    padding: 10px;
}

.buttons {
    flex: 1;
    border: none;
}

.container{
    flex-wrap: nowrap | wrap | wrap-reverse;
}

.fieldset{
    background-color: #FFFFFF;
    border: 1px solid #7986cb;
}

.postTitleText{
    width: 100%;
}

.textarea{
    width: 98.5%;
    border: 1px solid lightgray;
    font-size: 18px;
}

.postButtons{
    float: right;
    width: 20%;
}

.postFieldset{
    width: 90%;
    background-color: #FFFFFF;
    border: 1px solid #7986cb;
}

.postArticle{
    align-items: center;
}

.roundedCircleArticleImg{
    margin-right: 15px;
    width: 10%;
    height: 10%;
}

.userInfoDiv{
    display: inline-flex;
}

.userInfoP{
    margin: 0;
    padding: 0;
}

.postTitle{
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.postContentLayout{
    width: 100%;
}

.postContent{
    margin: 0;
    padding: 5px;
}

.pageButtons{
    flex-wrap: nowrap | wrap | wrap-reverse;
}

.pageButton{
    width: 40px;
    height: 40px;
    margin: 5px !important;
    background: #7986cb;
}