.newUser {
    padding: 10px;
}

.buttons {
    width: 100px;
    flex: 1;
    margin-left: 25%;
    margin-right: 25%;
    border: none;
}

.registerText {
    width: 200px;
}

.eventForm {
    text-align: center;
}

