a.postTitle:hover {
  color: #428bca;
  text-decoration: none;
}

a.userInfoPUsername:hover {
  color: #428bca;
  text-decoration: none;
}

.buttons {
    flex: 1;
    border: none;
}

.content {
    padding: 10px;
}

.currentPageButton{
    width: 40px;
    height: 40px;
    margin: 5px !important;
    background: #3949ab;
}

.container{
    flex-wrap: nowrap | wrap | wrap-reverse;
}

.fieldset{
    background-color: #FFFFFF;
    border: 1px solid #7986cb;
}

form {
    align-items: center;
    margin-left: 5%;
}

.h2ForPostTitle{
    margin: 0;
    padding: 0;
}

.postTitleText{
    width: 100%;
}

.postButtons{
    float: right;
    width: 20%;
}

.postFieldset{
    width: 90%;
    background-color: #FFFFFF;
    border: 1px solid #7986cb;
}

.postArticle{
    align-items: center;
}

.postTitle{
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: #444444;
    text-decoration: none;
}

.postContentLayout{
    width: 100%;
}

.postContent{
    margin: 0;
    padding: 5px;
}

.pageButtons{
    flex-wrap: nowrap | wrap | wrap-reverse;
}

.pageButton{
    width: 40px;
    height: 40px;
    margin: 5px !important;
    background: #7986cb;
}

.postProfile{
    display: inline-flex;
}

.roundedCircleArticleImg{
    margin-right: 15px;
    width: 10%;
    height: 10%;
}

.textarea{
    width: 98.5%;
    border: 1px solid lightgray;
    font-size: 18px;
}

.userInfoDiv{
    display: inline-flex;
    width: 100%;
}

.userInfoP{
    margin: 0;
    margin-right: 5px;
    padding: 0;
}

.userInfoPUsername{
    margin: 0;
    margin-right: 5px;
    padding: 0;
    color: #3949ab;
    text-decoration: none;
}

.userPostTitle{
    text-align: center;
    color: #7986cb;
}

